COMPLIANCE_ROUTING_MODE=BALANCED_ONLY
COMPLIANCE_FAST_ENABLED=false
COMPLIANCE_SHADOW_ENABLED=false
COMPLIANCE_EVALUATION_PARALLELISM=1
AI_ORCHESTRATOR_CONNECT_TIMEOUT=PT5S
AI_ORCHESTRATOR_COMPLIANCE_READ_TIMEOUT=PT780S
AI_ORCHESTRATOR_COMPLIANCE_GLOBAL_DEADLINE=PT820S
TENDER_DOMAIN_V2_ENABLED=false
REQUIREMENT_CLASSIFICATION_ENABLED=false
COMPANY_CAPABILITY_REGISTRY_ENABLED=false
DETERMINISTIC_EVALUATION_ENABLED=false
GAP_ANALYSIS_ENABLED=false
CLARIFICATION_MANAGEMENT_ENABLED=false
RISK_ENGINE_ENABLED=false
BID_DECISION_ENABLED=false
OBLIGATION_MANAGEMENT_ENABLED=false
